QLabel#stage-info-element{
    padding-top: 20px;
    font-size: 20px;
    color: white;
    padding-bottom: 20px;
    border-spacing: 10px;
}
QFrame#basic-frame{
    background-color: #222a2d;
    max-width: 300px;

}
QMainWindow{
    background: #313338;
    align-items: end;
}
QMenuBar{
    border: 1px solid #64646c;
    border-radius: 2px;
    background: #24242C;
    font-size: 12px;
    color: white;
}
QMenuBar::item {
    background: #24242C;
    font-size: 12px;
    color: white;
}

QMenuBar::item:selected {
    background-color: #323844;
}
QMenu{
     background: #24242C;
    font-size: 12px;
    color: white;
}
QMenu::item::selected{
    background-color: #323844;
}
QPushButton#button-stage-management{
    background-color: #18361a;
    border: none;
    color: #ffffff;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}
QPushButton#button-stage-management:hover{
    background-color: #265229;
 }
QPushButton#button-stage-management:pressed{
    background-color: #122613;
}

QPushButton#button-connect{
    background-color: #0c0e34;
    border: none;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
}
QPushButton#button-connect:hover{
    background-color: #1c1e7c;
 }
QPushButton#button-connect:pressed{
    background-color: #07084b;
}

QWidget#widget-canvas{
    background-color: white;
    border-radius: 2px;
}
QLabel#label-information{
    font-size: 16px;
    color: white;
    padding-bottom: 10px;
}
QComboBox {
    border: 2px solid #202842;
    border-radius: 4px;
    padding: 2px 10px;
    min-width: 6em;
    font-size: 16px;
    color: #ffffff;
    background-color: #405167;
}

QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: right;
    width: 10px;
    border-left-width: 0px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #0c0e34;
}

QComboBox:hover {
    border-color: #090e11;
}

QWidget#notification-error{
    background-color: #2e7d32;
    color: #ffffff;
    border: 2px solid #1b5e20;
    border-radius: 10px;
}


QWidget#notification-success{
    background-color: #b71c1c;
    color: #ffffff;
    border: 2px solid #7f0000;
    border-radius: 10px;
}
